/*.egg-info
/.spyderproject
.spyderproject
.idea/*
/**/__pycache__
/**/.ipynb_checkpoints
/.doit.db.bak
/.doit.db.dat
/.doit.db.dir


/Report/*.toc
/Report/*.aux
/Report/*.bbl
/Report/*.blg
/Report/*.fdb_latexmk
/Report/*.fls
/Report/*.lof
/Report/*.log
/Report/*.lol
/Report/*.lot
/Report/*.out
/Report/*.synctex.gz
/Report/*.synctex(busy)
/Report/*.toc