/*.egg-info
/.spyderproject
.spyderproject
.idea/*
/**/__pycache__
/**/.ipynb_checkpoints
/.doit.db.bak
/.doit.db.dat
/.doit.db.dir


/latex/*.toc
/latex/*.aux
/latex/*.bbl
/latex/*.blg
/latex/*.fdb_latexmk
/latex/*.fls
/latex/*.lof
/latex/*.log
/latex/*.lol
/latex/*.lot
/latex/*.out
/latex/*.synctex.gz
/latex/*.synctex(busy)
/latex/*.toc